DEEPSEEK_API_KEY=
DEEPSEEK_API_URL=
DEEPSEEK_MODEL=

PIPER_BIN=
PIPER_UK_MODEL=
PIPER_US_MODEL=
FFMPEG_BIN=

AUDIO_ROOT=
GLOBAL_CACHE=storage\global_cache.json
UPLOADED_CACHE=storage\uploaded_vocab_cache.json
AUDIO_URL_PREFIX=/static/audio
